<button class="flex items-center rounded bg-blue-light p-4" {{action action}}>
  <p class="text-1xl italic mr-2 text-white">{{msg}}</p>
  <i class="material-icons text-white">expand_more</i>
</button>
