<div class="h-screen flex flex-col bg-pink-lightest">
  <div class="sm:w-full md:w-2/3 md:self-center md:mt-32 p-4">
    <h1 class="title leading-normal text-5xl">IDEA</h1>
    <div class="body typewriter-container leading-normal text-5xl"></div>
  </div>
</div>
