<div class="h-screen
            flex
            flex-col
            items-center
            content-center
            md:justify-center
            bg-blue-lightest">

  <div class="w-full relative flex flex-col md:items-center md:content-center md:justify-content">
    <div class="header w-full md:absolute md:z-10 md:p-10 p-4 md:pin-t md:pin-l">
      <h1 class="md:text-white md:text-5xl">The making of wraps</h1>
    </div>
    <div id="player"></div>
  </div>

</div>
