<div class="h-screen
            border
            flex
            items-center
            content-center
            md:justify-center
            relative
            bg-blue-lightest">

  <div id="player"></div>

  <div class="header w-full absolute pin-l pin-t p-4 md:invisible">
    <h1 class="text-grey-darkest text-5xl">The making of amazing food</h1>
  </div>


</div>
